<form [formGroup]="customerForm" (ngSubmit)="submitData()">
  <div class="container" style="margin-top: 50px">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Customer id</mat-label>
          <input formControlName="id" type="text" matInput>
        </mat-form-field>
<!--        <input formControlName="id" class="form-control" type="text" placeholder="Customer Id">-->
<!--        <p *ngIf="customerForm.get('id')?.invalid && customerForm.get('id')?.touched" class="alert alert-danger">Customer id is required</p>-->
      </div>
      <div class="col-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Customer Name</mat-label>
          <input formControlName="name" type="text" matInput>
        </mat-form-field>
<!--        <input formControlName="name" class="form-control" type="text" placeholder="Customer Name">-->
<!--        <p *ngIf="customerForm.get('name')?.invalid && customerForm.get('name')?.touched" class="alert alert-danger">Customer name is required</p>-->
      </div>
      <div class="col-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Customer Address</mat-label>
          <input formControlName="address" type="text" matInput>
        </mat-form-field>
<!--        <input formControlName="address" class="form-control" type="text" placeholder="Customer Address">-->
<!--        <p *ngIf="customerForm.get('address')?.invalid && customerForm.get('name')?.touched" class="alert alert-danger">Customer address is required</p>-->
      </div>
      <div class="col-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Customer Salary</mat-label>
          <input formControlName="salary" type="number" matInput>
        </mat-form-field>
<!--        <input formControlName="salary" class="form-control" type="number" placeholder="Customer Salary">-->
<!--        <p *ngIf="customerForm.get('salary')?.invalid && customerForm.get('name')?.touched" class="alert alert-danger">Customer salary is required</p>-->
      </div>
      <div class="col-12">
        <p style="text-align: right">
          <button [disabled]="customerForm.invalid" matButton mat-raised-button color="accent" type="submit">Save Data</button>
        </p>
      </div>
    </div>
  </div>
</form>
